/* slider.css */

/* Tay cầm của thanh trượt */
.rc-slider-thumb {
    border: 2px solid #4a4a4a; /* Màu viền của tay cầm */
    background-color: white; /* Màu nền của tay cầm */
    width: 20px; /* Kích thước tay cầm */
    height: 20px; /* Kích thước tay cầm */
    border-radius: 50%; /* Tạo hình tròn cho tay cầm */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Đổ bóng cho tay cầm */
}

/* Màu viền tay cầm khi hover */
.rc-slider-thumb:hover {
    border-color: #2c2c2c; /* Màu viền khi hover */
}

/* Màu viền tay cầm khi đang kéo */
.rc-slider-thumb:active {
    border-color: #1a1a1a; /* Màu viền khi đang kéo */
}
