@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.ct-center {
	@apply flex items-center justify-center;
}

.ct-header-nav-item {
	@apply lg:block relative text-Neutral-N500  after:h-[1px]
  transition-all ease-in-out duration-300;
}

.ct-header-nav-item:hover {
	@apply text-Neutral-N900 lg:after:w-full lg:lg:text-black text-base lg:text-[18px];
}

.ct-header-nav-item-active {
	@apply text-Neutral-N900 lg:after:w-full lg:lg:text-black text-base lg:text-[18px];
}

.ct-header-nav {
	@apply lg:flex lg:gap-[32px] z-10 min-w-[120px] lg:translate-y-0 lg:w-full ct-center
  flex-col lg:flex-row lg:static bg-white border-[1px] rounded-[6px] border-Neutral-N900
  gap-[20px] py-[10px] lg:border-0 after:transition-all after:ease-in-out after:duration-300
  absolute top-0 translate-x-[-120%] lg:translate-x-0;
}

.ct-text-primary {
	@apply text-[14px] leading-[175%] font-medium;
}
.ct-text-secondary {
	@apply text-[12px] leading-[2] font-medium;
}

.container {
	@apply mx-auto max-w-ct-max-width px-[12px];
}
